fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
pytest
httpx
ruff
google-genai
pgvector
SQLAlchemy
alembic
psycopg2-binary
python-jose
passlib
python-multipart
numpy
argon2-cffi
cryptography
